.sobreNos{
    background-color: #051951;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 70vh;
}

.sobre{
    width: 30%;
}

.titulo{
    color: #F18F01;
}

.subtitulo{
    color: #fff;
    width:70%;
}

.texto{
    color: #fff;
    width: 70%;
}

.dados{
width: 35%;
color: #fff;

}

.info{
    display: flex;
    align-items: center;
    padding: 5%;
}

.numDado{
    font-size: 200%;
    align-items: center;
}

.conteudo{
    padding: 10px;
}