/* Styles for screens larger than 768px */
.sobreNos {
    background-color: #051951;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .sobre {
    width: 30%;
  }
  
  .titulo {
    color: #F18F01;
  }
  
  .subtitulo,
  .texto,
  .dados {
    width: 70%;
    color: #fff;
  }
  
  .dados {
    width: 35%;
  }
  
  .info {
    display: flex;
    align-items: center;
    padding: 5%;
  }
  
  .numDado {
    font-size: 200%;
    align-items: center;
  }
  
  .conteudo {
    padding: 1.2rem;
  }
  
  /* Styles for screens smaller than or equal to 768px */
  @media (max-width: 768px) {
    .sobreNos {
      flex-direction: column;
      height: auto;
      padding: 2rem;
    }
  
    .sobre {
      width: 100%;
      margin-bottom: 2rem;
    }
  
    .subtitulo,
    .texto,
    .dados {
      width: 100%;
    }
  }