.separacao {
    background-color: #fff;
    width: 100%;
    height: 3vh;

}

.divFundoCadastro {
    width: 100%;
    background-color: #051951;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cadCliente {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topCadastro {
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cadastroCliente {
    background-color: #fff;
    width: 35%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 12px;
}

.ruaNumero {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px; 
}

