.telaServicos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.textoServico{
    color: #fff;
}

.organizaCard{
    display: flex;
}

.testandoWrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
