.banner{
    background-color: brown;
    width: 100vw;
    height: 110vh;
    margin: 0;
    background-image: url('../../../assets/banner3.png')
    
}

.informations{
    padding: 10% 10%;
}

.options{
    color: #fff;
}

.icon{
    color: #f18f01;
}

.demostracao{
    width: 40%;
}

.textoCentral{
     font-size: 300%;
     color: #fff;
}

.seuTempo {
    color: #f18f01;
}


