.separacao {
  background-color: #fff;
  width: 100%;
  height: 3vh;
}

.divFundoCadastro {
  width: 100%;
  background-color: #051951;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cadCliente {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topCadastro {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.313rem;
}

.cadastroCliente {
  background-color: #fff;
  width: 35%;
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 0.75rem;
}

.ruaNumero {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

